body {
  background-image: url('img 6.jpg');
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 1560px 840px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  align-items: center;
}
.login-page .form .login{
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: rgb(229, 103, 8);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color:blue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.login-btn:hover {
  background-color:#000;
  color:#fff;
}
.form .message {
  margin: 15px 0 0;
  color: yellow;
  font-size: 12px;
}
.form .message a {
  color: blue;

}
